*{
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #A8A8A8;
}

:-moz-placeholder { 
  color: #A8A8A8;  
}

::-moz-placeholder {  
  color: #A8A8A8;  
}

:-ms-input-placeholder {  
  color: #A8A8A8;  
}